
  <!-- <button {{action 'showMap' google-map}}>Show Map</button> -->

<div>
  <form>
    <div id="city">

      {{#x-select value=city}}
          <option>Select a City</option>
        {{#each cities as |city|}}
          {{#x-option value=city}} {{city.name}} {{/x-option}}
        {{/each}}
      {{/x-select}}


    </div>
  </form>
  <button {{action 'showMap' city}}>Go!!!</button>
    <!-- <div class="form-group">
      <label for="time"></label>
      <span>{{input value=time id="time" placeholder="How much time you got?"}}</span>
    </div>

    <div class="form-group">
      <label for="budget"></label>
      <span>{{input value=budget id="budget" placeholder="How much are you willing to spend?"}}</span>
    </div> -->

    <!-- <div class="form-group">
          <label for="latitude">Latitude</label>
          {{input value=latitude id="latitude"}}
        </div>

        <div class="form-group">
          <label for="longitude">Longitude</label>
          {{input value=longitude id="longitude"}}
        </div> -->
    <!-- <button {{action 'showMap' city}}>Go!!!</button> -->

</div>
<div class="map=div">


<div class="map-display"></div>
</div>
