<p>


<!-- Form (for budget and time) -->
<br>
<!-- Map component(visible after button press ) -->
<br>
<!-- drop down or similar for city select -->
<br>
<br>
Under may be ...
A table of destinations in order of visit and time at each place.
<br>
where do you want to start/end (gps or form)


</p>

<!-- <div>
  <form>
    <div id="city">
      {{view "select" content=names}}
    </div>
    <div class="form-group">
      <label for="time"></label>
      <span>{{input value=time id="time" placeholder="How much time you got?"}}</span>
    </div>
    <div class="form-group">
      <label for="budget"></label>
      <span>{{input value=budget id="budget" placeholder="How much are you willing to spend?"}}</span>
    </div>
    <button {{action 'submit'}}>Go!!!</button>
  </form>
</div> -->


<!-- {{google-map city=city}} -->
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br> -->
<p> TBD </p>
Map directions API
<br>
carousel in index
<br>
<!-- models for city and destinations -->
<br>
Structure of waypoints--
<br>
(origin/destination (can be same for now), max six additional waypoints)
<br><br>

{{google-map cities=model}}


{{outlet}}
